body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input,figure { margin: 0;
padding: 0; }
a, a:hover { text-decoration: none; outline: none;  }
li { list-style: none }
img { border: none; max-width:100%; }
input, select, textarea { border: none; outline: none; background: none }
em,i { font-style: normal }
h1, h2, h3, h4, h5, h6 { font-weight: normal }
.jz{ width:990px; margin:0 auto;}
.jz700{ width:700px; margin:0 auto;}
.clearfix{*zoom:1;}
.fl{
    float:left;
}
.fr{
    float:right;
}
.clearfix::after{ clear: both; display: block; height: 0; content: ''; visibility: hidden;}
.bg_1{
    height:100%;
    width:100%;
    position: fixed;
    top:0;
    left:0;
      z-index:-1;
      background:#e7f0f7;
}
.open_blom{
    height:100%;
    width:100%;
    position: fixed;
    display: none;
    top:0;
    left:0;
      z-index:1001;
      background:rgba(0,0,0,0.3);
}
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin:0;
    padding:0;
    overflow-x: hidden;
}
.img{
    border:0;
}
.main_box{
    height:100%;
}
.page_box_a,.page_box_b,.page_box_c,.page_box_d,.page_box_e,.page_box_f,.page_box_g,.page_box_h,.page_box_i,.page_box_j,.page_box_k,.page_box_l{
    position: relative;
}
/*index start */
.width640{
    max-width: 640px;
    margin:0 auto;
}
.index_bg{
    background:  url("../../Img/bg_1.png") center top repeat-x;
    background-size:550px; 
}
.main_a{
    width:300px;
    margin:0 auto 0;
    padding-top: 200px;
    position: relative;
}
.main_c{
    width:300px;
    margin:0 auto 25px;
    background: #fff;
    text-align: center;
    padding-bottom: 40px;
    position: relative;
}
.main_a_btn{
    width:180px;
    display: inline-block;
    line-height: 40px;
    color:#fff;
    text-align: center;
    border-radius: 5px;
    background: #0abf39;
    -webkit-appearance : none ;
}
.main_a_submit{
    background: #d9d9d9;
}
.main_a_img{
    width:100%;
    display: block;
}
.main_b{
    padding:30px 40px ;
    background: #fff;
    margin-bottom: 60px;
}
.main_b_top{
    position: relative;
    text-align: center;
    margin:20px 0;
}
.main_b_top img{
    position: absolute;
    left:0;
    top:0;
}
.main_b_top h3{
    line-height: 30px;
    font-weight: normal;
    font-size: 30px;
    color: #000;
}
.line_1{
    position: absolute;
    bottom:-44px;
    left:50%;
    margin-left:-80px;
}
.main_b_content{
    line-height: 24px;
    color: #4c4c4c;
    font-size: 14px;
}
.main_b_content span{
    color:#000;
}
/*index end*/
/*弹框 start*/
.open_box{
    position: absolute;
    z-index: 1001;
    width:280px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #fff;
    min-height: 140px;
    left:50%;
    top:50%;
    margin-left: -140px;
    margin-top: -70px;
    text-align: center;
}
.open_box_img{
    padding-top:20px;
}
.open_box_title{
    padding:20px;
    line-height: 30px;
    font-size: 24px;
    font-weight: normal;
    border-bottom:1px solid #d9d9d9;
}
.open_box_button{
    display: block;
    text-align: center;
    width: 100%;
    color: #00a1e4;
    line-height: 30px;
    font-size: 24px;
    padding:10px;
    cursor: pointer;
}
/*弹框 end*/
@media all and (max-width:580px){
    .main_b{
        padding:30px 10px;
        margin-bottom: 0;
    }
    .index_bg{
        background-size:300px; 
    }
    .main_c {
        width:260px;
    }
   .main_a{
    width:260px;
    padding-top: 100px;
   }
   .main_b_top img{
    display: none;
   }
   .main_b_top h3{
    font-size: 18px;
    line-height: 30px;
   }
   .main_b_content{
    font-size: 12px;
   }
   .main_b_top{
    margin:5px 0;
   }
   .open_box_title,.open_box_button{
    font-size: 18px;
   }
}

.hide{
    display: none;
}

.show{
    display: block;
}







