.posRel{position:relative}.article{min-height:1209px}.LeftMenu{width:220px;min-height:1209px;height:100%;box-shadow:0 2px 0 #d0d1d5}.ListMenu{font-size:14px;position:relative}.inMenu{padding-left:50px;height:50px;line-height:50px;position:relative}.inMenu img{display:inline-block;float:left;margin-top:12px}.inMenu span{display:inline-block;padding-left:8px;line-height:50px}.ListMenu li.hover{padding-left:45px}.LeftMenu .headline{height:50px;line-height:50px;padding-left:50px;font-size:16px;position:relative;cursor:pointer}.slideListMenu li.hover{padding-left:45px}.slideMenu .headline{height:42px;line-height:42px;padding-left:50px;font-size:16px}.slideMenu .headline .SecShow{display:inline-block;width:12px;height:10px;margin-left:5px;background:url(https://static.98ep.com/Img/Portal/sec-show-icons.png) no-repeat}.zs-material .List li{margin-left:29px}.navBar{width:100%;height:42px;line-height:42px;border-bottom:2px solid #4e5664}.slideMenu{width:220px;height:42px;position:relative}.slideListMenu{font-size:14px;width:220px;height:auto;display:none;position:absolute;top:42px;left:0;z-index:99}.subNav li{float:left;padding:0 15px;font-size:14px}.submenu{width:739px;display:none;padding:20px;border:solid 1px #51a6ff;border-left:none;background:#fff;color:#333;z-index:9999;position:absolute;top:1px;left:215px}.submenu dl{line-height:30px}.submenu dl a{text-decoration:none;color:#333}.submenu dl a:hover{color:#308ded}.submenu dt{width:80px;font-size:14px;padding:10px 10px 10px 0;font-weight:700;text-align:right}.submenu dt a{font-weight:700;line-height:16px}.submenu dd{width:610px;padding:10px 0;border-bottom:solid 1px #848a8c}.submenu dd a{float:left;font-size:12px;padding:0 10px;margin:5px 0;line-height:16px;border-left:1px solid #aab9bf;white-space:nowrap}.RightCont{width:960px}.List_Box{padding:10px 20px 20px 20px;margin-top:5px;background:#fff}.Title{line-height:20px;padding:0 5px;color:#333;font-weight:400;margin:15px 0;border-left:3px solid #999}.Title span{font-size:16px;font-weight:700}.List{margin:20px 0 0 -21px}.List img{cursor:pointer;display:block}.List li{width:165px;height:240px;border:solid 1px #ddd;float:left;margin-left:21px;margin-bottom:10px;background:#f5f6f7}.List li div.inTxt{padding:8px;background:#f5f6f7;border-top:solid 1px #ddd}.List li div.inTxt p.price{height:20px;line-height:20px;color:#ec133c;font-size:14px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;cursor:pointer}.List li div.inTxt p.num{font-style:normal;color:#333;font-size:14px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}.BackTop{width:70px;height:50px;text-decoration:none;padding-left:30px;color:#999;font-size:14px;line-height:50px;display:none;background:url(https://static.98ep.com/Img/Portal/backTop.png) no-repeat;position:fixed;bottom:45px;right:0;cursor:pointer}.Search{height:36px;line-height:36px;position:relative}.Search input.SearchTxt{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;border:solid 1px #b3b3b3;outline:0;width:620px;padding:10px 20px;background-color:#e6e6e6;color:#333}.Search input.ShTxtFocus{border:solid 1px #3a89d6;background:#fff;-webkit-box-shadow:0 0 2px #3a89d6;-moz-box-shadow:0 0 2px #3a89d6;box-shadow:0 0 2px #3a89d6}.Searchbtn{display:inline-block;width:40px;height:36px;background:url(https://static.98ep.com/Img/Portal/SearchBtn2.png) 10px 9px no-repeat;position:absolute;top:0;left:620px;cursor:pointer}.Noshopping{width:200px;height:30px;line-height:30px;margin:0 auto;padding:30px 0}.NoshopTxt{display:inline-block;height:30px;line-height:30px;padding-left:5px;color:#106372;font-size:16px}.NoApproval{width:240px;height:30px;line-height:30px;margin:0 auto;padding:30px 0}.zs-material .List li{margin-left:29px}.arrowShow{width:20px;height:20px;display:inline-block;background:url(https://static.98ep.com/Img/Portal/arrows-icons.png) no-repeat;position:absolute;top:15px;right:40px}.iRotate90{transform:rotate(90deg);-ms-transform:ratate(90deg);-moz-transform:ratate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg)}.iRotate0{transform:rotate(0);-ms-transform:ratate(0);-moz-transform:ratate(0);-webkit-transform:rotate(0);-o-transform:rotate(0)}.zs-msg{width:960px;margin:0 auto;text-align:center;font-size:16px;line-height:30px;padding-top:165px;position:relative}.zs-msg .telNub{color:#0675ad;font-size:18px}.thanksIcons{width:260px;height:54px;margin-left:400px;background:url(https://static.98ep.com/Img/Portal/thanks-icons.png) no-repeat}.perImg{width:205px;height:190px;background:url(https://static.98ep.com/Img/Portal/perImg.jpg) no-repeat;position:absolute;left:5px;top:150px;z-index:-1}.LeftMenu{background-color:#2f3a4c}.inMenu span{color:#fff}.ListMenu li.hover{color:#2d3e50;background-color:#edeef2;border-left:solid 5px #00bfe9}.ListMenu li.hover span{color:#2d3e50}.LeftMenu .headline{background-color:#4e5663;color:#fff}.slideListMenu{background-color:#2f3a4c}.slideListMenu li.hover{color:#2d3e50;background:#edeef2;border-left:solid 5px #00bfe9}.slideListMenu li.hover span{color:#2d3e50}.slideMenu .headline{background-color:#4e5663;color:#fff}.LeftMenu .iShowTit{background-color:#2e8ded;color:#fff}.iCaption span{color:#02a9d1}.iGphover,.iSelectGroup{background-color:#adcfd2;border:1px solid #adcfd2}.Btn_Gray{border:1px solid #2093e7;background-color:#2093e7}.three_muti li a:hover span{color:#15b0b6}.three_muti li.iCur a span{color:#15b0b6}.H-title{background-color:#cbcbcb}.Msg-title{background-color:#dedede}.subNav li.iNow{color:#0091ff}.p-operate .inRow a.celladd{background:url(/img/BCustomer/cell-add.png) no-repeat center left}.p-operate .inRow a.celladdress{background:url(/img/BCustomer/cell-cee.png) no-repeat center left}.p-operate .inRow a.cellremarks{background:url(/img/BCustomer/cell-remarks.png) no-repeat center left}.p-operate .inRow a.celldelet{background:url(/img/BCustomer/cell-delete.png) no-repeat center left}.p-operate .inRow a{padding-left:18px;color:#1d82e4}.operateArea .inRow a.celladd{padding-left:18px;background:url(/img/BCustomer/cell-add.png) no-repeat center left}.operateArea .inRow a.celladdress{padding-left:18px;background:url(/img/BCustomer/cell-cee.png) no-repeat center left}.operateArea .inRow a.cellremarks{padding-left:18px;background:url(/img/BCustomer/cell-remarks.png) no-repeat center left}.operateArea .inRow a.celldelet{padding-left:18px;background:url(/img/BCustomer/cell-delete.png) no-repeat center left}.itemData{height:40px;line-height:40px;border-top:solid 1px #ebebeb}.operateArea{width:auto;text-align:right;padding-right:40px}.operateArea .inRow a{color:#666}.operateArea .inRow{display:inline-block;width:85px;height:40px;line-height:40px;margin:0;padding:0;color:#333;padding-right:30px;position:relative}.operateArea .inRow span{color:red}.supplierName{padding-left:40px}.submit-btn{background-color:#2e8ded}.cart-footer .Price-sum span.totalSkin{color:#00a0e6}.Price-sum em{color:#00a0e6}.ullist li.active{color:#0964a2;border:1px solid #0964a2}.buynow{background-color:#2e8ded}.addCartBtn{background-color:#fff;border:1px solid #2e8ded;color:#2e8ded}.ca-count{background-color:#00a0e6}.ca-left{background:url(/img/BCustomer/cart.png) no-repeat}.p-price strong{color:#00a0e6}.smb a{background-color:#00a0e6}.Y_okBtn .btn,.wInput .btn{background-color:#337ab7;border-color:#2e6da4}.wInput a.btn:hover{background-color:#3366b7}.Y_okBtn .iConfirm{background-color:#2e8ded}.Y_okBtn .greyBtn{background-color:gray}.submitAddr{background-color:#2e8ded}.Paygo{background-color:#2e8ded}.PayBox .active{border:1px solid #2e8ded}.fu:hover{border:1px solid #2e8ded}.gou{background:url(https://static.98ep.com/Img/BCustomer/subfileImg/gou.png) no-repeat}.PayPeopleInfo a.backCart{color:#0774af}.mainbody{border-top:2px solid #0774af}.Add_Adr p.active{background-color:#167bab}.Add_Adr{background-color:#2396cb}a.extra-r{color:#0774af}.jdm-toolbar-tabs .tab-sub{box-sizing:content-box;background-color:#00a0e6}.border-Btn{border:1px dashed #fff;color:#fff}.LabBtnbox .LabBtn{background-color:#2e8ded}.protocolBox{width:600px;height:500px;padding:20px;background-color:#fff;border:1px solid #ccc}.protocol{width:600px;height:420px;padding:5px;overflow:auto;background-color:#fff}.protocol .iTitle{text-align:center;font-size:20px;padding-bottom:10px}.protocol p{text-indent:2em;line-height:20px}.agreeBtn{width:90px;text-align:center;margin:30px 200px;padding:8px 50px;color:#fff;background-color:#2880de;font-size:16px;border-radius:5px;cursor:pointer}.ModuBtnPost{background:url(https://static.98ep.com/Img/BCustomer/subfileImg/modelbtn.png) no-repeat}.Sy_bg{background:url(https://static.98ep.com/Img/BCustomer/subfileImg/model_bg1.PNG) no-repeat}.ZsPicBg{width:512px;height:545px;position:absolute;top:65px;left:50%;margin-left:-240px}.ZsPicTitle{height:64px;position:relative}.ZsNext{position:absolute;left:50%;bottom:20px;background:url(https://static.98ep.com/Img/Portal/next.png) no-repeat center center;width:140px;height:32px;cursor:pointer;margin-left:-70px}.ZsPicContent{position:relative;width:100%;height:405px}.ZsClose{background:url(https://static.98ep.com/Img/Portal/zsClose.png) no-repeat;top:22px;position:absolute;right:-30px;width:24px;height:24px;cursor:pointer}.ZsPicConInfo{position:absolute;top:0;left:0;width:512px;height:414px}.otherTop{top:0;left:0;margin:0;width:510px;height:405px}.ZsDotList li{float:left;width:16px;height:16px;margin:0 5px;cursor:pointer;background:url(https://static.98ep.com/Img/Portal/zsdot.png) no-repeat}.ZsDotList li.active{width:55px;background:url(https://static.98ep.com/Img/Portal/zsactive.png) no-repeat}#mark{width:100%;height:100%;background:#333;opacity:.3;position:absolute;left:0;top:0;display:none}.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}@-webkit-keyframes rotateOut{0%{-webkit-transform-origin:center;transform-origin:center;opacity:0;display:none;-webkit-transform:rotate3d(0,0,1,180deg);transform:rotate3d(0,0,1,180deg)}100%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:rotate3d(0,0,1,360deg);transform:rotate3d(0,0,1,360deg);opacity:1;display:block}}@keyframes rotateOut{0%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:rotate3d(0,0,1,180deg);transform:rotate3d(0,0,1,180deg);opacity:0}100%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:rotate3d(0,0,1,360deg);transform:rotate3d(0,0,1,360deg);opacity:1}}@-webkit-keyframes rotateOut1{0%{-webkit-transform-origin:center;transform-origin:center;opacity:0}100%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:rotate3d(0,0,1,180deg);transform:rotate3d(0,0,1,180deg);opacity:1}}@keyframes rotateOut1{0%{-webkit-transform-origin:center;transform-origin:center;opacity:1}100%{-webkit-transform-origin:center;transform-origin:center;-webkit-transform:rotate3d(0,0,1,180deg);transform:rotate3d(0,0,1,180deg);opacity:0}}.rotateOut{-webkit-animation-name:rotateOut;animation-name:rotateOut;animation-delay:1s}.rotateOut1{-webkit-animation-name:rotateOut1;animation-name:rotateOut1;animation-delay:0s}@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}@-webkit-keyframes pulse{from{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}to{-webkit-transform:scale3d(0,0,0);transform:scale3d(0,0,0);opacity:0}}@keyframes pulse{from{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}to{-webkit-transform:scale3d(0,0,0);transform:scale3d(0,0,0);opacity:0}}.pulse{-webkit-animation-name:pulse;animation-name:pulse}@-webkit-keyframes pulse1{from{-webkit-transform:scale3d(0,0,0);transform:scale3d(0,0,0);opacity:0}to{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1);opacity:1}}@keyframes pulse1{from{-webkit-transform:scale3d(0,0,0);transform:scale3d(0,0,0);opacity:0}to{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1);opacity:1}}.pulse1{-webkit-animation-name:pulse1;animation-name:pulse1}.zs-box{width:800px;height:520px;background-color:#f0f5f9;border:1px solid #d7d7d7}.zs-list{margin-left:0;padding-top:20px}.zs-list li{float:left;margin-left:20px}.zs-list li div{width:173px;height:128px;text-align:center;background-color:#f0f5f9;border:1px solid #d7d7d7}.zs-list li div img{padding-top:38px}.zs-list li p{height:34px;line-height:34px;text-align:center;font-size:14px}.inventoryRecords{background:#f2f2f2;width:98px;height:28px;line-height:28px;border:1px solid #d7d7d7;border-bottom:0;text-align:center;cursor:pointer}.bgBlue{background:#008ee6;width:100px;height:29px;color:#fff}.RecordsTable{table-layout:fixed;border-collapse:collapse;width:100%;border:1px solid #d7d7d7}.RecordsTable tr th{font-weight:400;text-align:center;padding:5px;border-bottom:1px solid #d7d7d7;background:#f2f2f2}.RecordsTable tr td{text-align:center;padding:5px;border-bottom:1px solid #d7d7d7;background:#fff}.ModuSelect{width:120px;height:28px;border:1px solid #cecece}.R_change{padding-right:10px;background:url(https://static.98ep.com/Img/BCustomer/subfileImg/R_change.png) right center no-repeat}.R_TxtList{display:inline-block;padding:5px;border:1px solid #d7d7d7;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.PortalMidImg{width:165px;height:155px;line-height:155px;text-align:center;display:table-cell;vertical-align:middle}.PortalMidImg img{max-width:165px;max-height:155px;vertical-align:middle}
/* 弹框公共 start */
.w_open_bg{
    position: fixed;
    left:0;
    top:0;
    z-index: 1001;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.w_open{
    position: absolute;
    left:50%;
    top:50%;
    width:400px;
    height: 460px;
    margin-left:-200px; 
    margin-top:-230px; 
    background: #fff;    
    padding:20px;
}
.w_dialog_c .w_open{
    width:800px;
    margin-top:-250px;
    margin-left:-350px;
}
.w_dialog_b .w_open{
    width:460px;
    margin-top:-250px;
    margin-left:-250px;
}
.w_dialog_a .w_open{
    width:460px;
    height: 240px;
    margin-top:-140px;
    margin-left:-250px;
}
.w_dialog_e .w_open{
    width:460px;
    height: 340px;
    margin-top:-190px;
    margin-left:-250px;
}
.w_dialog_f .w_open {
    width: 290px;
    height: 120px;
    margin-left: -155px;
    margin-top: -80px;
}
.w_mintit {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px 5px 5px 35px;
    font-size: 14px;
    right: 0;
    line-height: 24px;
    font-weight: normal;
    color: #333;
    background: rgba(0,0,0,0.1) url(https://static.98ep.com/Img/icons/warning.png) 10px center no-repeat;
    background-size: 20px;
}
.w_minbottom{
    padding: 25px 0 30px 15px;
    font-size: 14px;
}
.w_head_one {
    margin: 6px 0;
    height: 40px;
    border-bottom:1px solid #ccc;
}
.w_head_inf {
    line-height: 20px;
    color: #000;
    font-size: 14px;
    background-size: 50px;
    border-left: 4px solid #d1d1d1;
    padding-left: 8px;
}
.w_head_inf span {
    font-weight: bold;
}
.w_head_close {
    line-height: 24px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: url(/img/koubei/w_close.png) center center no-repeat;
    background-size: 50%;
}
.w_open_foot {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.w_open_cancel {
    color: #333;
    background: #fff;
    line-height: 22px;
    border: 1px solid #333;
    padding: 4px 35px;
    font-size: 14px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-left: 15px;
    cursor: pointer;
    display: inline-block;
    border:0;
}
.w_open_gray {
    color: #fff;
    line-height: 22px;
    border: 1px solid #ccc;
    background: #ccc;
}
.w_open_sure {
    color: #fff;
    border:0;
    background: #e84709;
    line-height: 24px;
    padding: 4px 35px;
    font-size: 14px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-left: 15px;
    cursor: pointer;
    display: inline-block;
}
.w_open_two {
    margin-bottom: 30px;
    position: relative;
    height: 346px;
    overflow: auto;
}
.w_width{
    min-width:90px;
    text-align: right;
    line-height: 30px;
    margin-right: 10px;
    font-weight: 500;
}
.w_number{
    margin-top:15px;
}
.w_number span{
    color: #e84709;
}
.w_number input.w_input_text{
    width:200px;
    line-height: 30px;
    color: #333;
    border:1px solid #ccc;
}
.p_t10{
    padding-top:10px;
}
.w_receive_tips{    
	font-size: 14px;
    padding: 20px;
    line-height: 30px;
}
.w_receive_tips p{
	font-size:18px;
}
.ac_select_dialog{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 560px;
    height: 330px;
    background: #fff;
    margin-left: -280px;
    margin-top: -165px;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    z-index: 9999;
    box-shadow: 0px 0px 6px #ccc;
}
.ac_select_tit{
    line-height:20px;
    padding-left:10px;
    margin:5px 0px;
    border-left:4px solid #d1d1d1;
    color:#333;
    font-weight:500;
    
}
.ac_budget_list{
    margin:50px 0px;
}
.ac_budget_list li{
    position:relative;
    float:left;
    width:33%;
    text-align:center;
    font-size:16px;
    line-height:30px;
}
.ac_budget_list li:nth-child(1) :after,.ac_budget_list li:nth-child(2) :after{
    position:absolute;
    top:12px;
    right:0px;
    content:"｜";
    color:#ccc;
}
.ac_budget_infor{
    line-height:30px;
    padding:20px;
    background:#f2f2f2;
    border-radius:4px;
    font-size:16px;
}
/* 弹框公共 end */
