
	body{ background:#f6f8f8;}	
	ol,ul{margin:0; padding:0;} 
	ol,ul li{list-style:none;}
	img{border:0;}	
	a{text-decoration:none; color:#fff;}	
	.clearfix { zoom: 1;  _height: 1px;}
	.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden}
	.fl{float:left;}
	.fr{float:right;}
	.wrap{width:1369px; margin:0 auto; font-family:"微软雅黑"; font-size:14px;background-color:#fff;}
	/*.header{height:30px; line-height:30px; padding:10px 0px;}
	.header p{margin:0; padding:0; height:30px;line-height:30px;}
	.search{height:30px; background:url(../images/zoom.png) 10px 5px no-repeat #83b1c5; padding-left:35px; border-radius:2px;}
	.searchTxt{width:300px; height:25px; background:transparent; font-size:16px; color:#fff; border-style:none; outline:none;}
	.searchBtn{ display:inline-block; width:72px; line-height:30px;text-decoration:none; font-size:16px; color:#24373e; text-align:center; float:right; background:url(../images/searchBtn.png) no-repeat;}*/

	.article{background:#f0f2f2; border:solid 1px #ccc; border-radius:4px; padding:0px 20px 10px;}
	.articleTit{height:30px;line-height:30px; padding:8px 0px; font-size:16px; border-bottom:solid 2px #ccc;}
	.searchTxt{width:230px; height:26px; line-height:26px; border:solid 1px #ccc; border-radius:2px 0 0 2px; margin-right:-2px; padding-left:40px; background:url(../images/zoompic.png) 8px center no-repeat #fff;}
	.findBtn{display:inline-block; width:68px; height:28px; line-height:28px; border:solid 1px #ccc; text-align:center; color:#666; border-radius:2px; background:url(../images/findBtn.png) repeat-x;}
	.Listmodel{ margin:20px -20px 65px 0px;}
    .Listmodel li{float:left; margin:0px 20px 20px 0px; font-size:0; border:solid 1px #ccc;}
	.Listmodel li div.inTit{ height:35px; line-height:35px; background:#dee0e0; font-size:14px; color:#404040; border-bottom:solid 1px #ccc; text-align:center;}
	.zoomSet{ height:35px;line-height:35px; padding:12px 47px 13px; background:#f8f9f9;}
	.zoomSet a{ display:inline-block;}
	.zoomSet span{display:inline-block;}
	.zoomSet span.zoomBtn{ width:50px; height:35px; background:url(../images/zoomBtn.png) no-repeat;}
	.zoomSet span.modelBtn,.modelBtn{ width:160px; height:35px; line-height:35px; font-size:14px; text-align:center; color:#fff; margin-left:10px; background:url(../images/modelBtn.png) no-repeat;}	.pageNum{width:620px; margin:0 auto; padding-bottom:30px;}
	.pageNum span{height:30px; line-height:30px;}		
	.olistPage li{ float:left; height:30px;line-height:30px; padding:0 12px; margin-left:20px; border-radius:2px;}
	.pageCur{background:#2a96a0; color:#fff;}
	.pageBtn{background:#fff; color:#2a96a0; border:solid 1px #2a96a0;}
	.bigPicBox{width:1050px;display:none; padding:20px; text-align:center; background:#fff;font-family:"微软雅黑"; border:solid 1px #ccc; position:absolute;left:300px; top:50px;}
	.bigPicBox img{border:solid 1px #a0a0a0; box-shadow:2px 2px 3px #999;}
	.bigPicBox p{margin:0;padding:0; height:20px; margin-bottom:10px;}
	.bigPicBox p em{ display:inline-block; width:508px;height:24px; line-height:24px; font-style:normal; text-align:center;}
	.bigPicBox span{display:inline-block; margin-top:15px;}	
	.bigPicBox em.closeBtn{display:inline-block; width:34px;height:34px; background:url(../images/closeBtn.png) no-repeat; position:absolute; top:-10px;right:-10px;}
	.oMask{width:1px; height:1px; display:block; position:absolute; left:0; top:0; background:#000; opacity:0.1; filter:alpha(opacity=10);}
	
	/*设计页样式*/
	.nav{ font-size:16px; border-bottom:solid 1px #0062ad; margin-bottom:10px;}
	.nav span.TxtBtn{ display:inline-block; padding:6px 15px; height:35px; line-height:35px; color:#0062ad; border-bottom:solid 3px #0062ad;}
	.nav span.BackBtn{display:inline-block; width:130px; height:40px; line-height:40px; text-align:center; color:#fff; background:url(../images/BackBtn.png) no-repeat;}
	.mainCont{ font-size:16px;}
	.LeftCont{width:320px; height:550px; border:solid 1px #2d3e50; border-radius:3px;}	
	.LeftCont p.Title{ height:40px; line-height:40px; margin:0; background:#2d3e50; color:#fff; text-align:center;}
	.LeftCont .EditTxt{height:450px; padding:30px 40px; background:#fff;border-radius:3px;}
	.LeftCont .EditTxt input{width:180px; height:20px; padding:10px 30px; font-size:14px; border:solid 1px #525c66;margin-bottom:20px; border-radius:20px; outline:none;}
	.LeftCont .EditTxt span.NextBtn{ display:inline-block; width:180px; height:20px; color:#fff; text-align:center; padding:10px 30px; background:url(../images/nextBtn.png) no-repeat; }
	.RightCont{width:1005px; height:530px; padding:10px; background:#fff; border:solid 1px #ccc; border-radius:3px;}
	.RightCont p.TitName{height:30px; margin:0; color:#666; border-bottom:solid 1px #ccc;}
	
	
	/*潘峰*/
	*{margin:0; padding:0; list-style:none; border:none;}
body{font-size:14px; font-family:"微软雅黑";}
a:link,a:visited{ text-decoration:none;}
a:hover{ text-decoration: none;}
.clearfix:before,.clearfix:after {content:"";display:table;clear:both;}
.clearfix{zoom:1;}
.Fleft{float: left;}
.Fright{float:right;}

.WrapCenter{width:1369px; margin: 0 auto;}
.Y_Title{ height:24px; margin:10px 0; line-height:24px;color:#666; font-weight:normal; font-size: 16px;}
.Y_Title a{color:#666;}
.Specifications{ height: 26px;line-height: 26px; border-bottom: 1px solid #0062ad; }
.SpecTitle{ height: 26px; color: #4c4c4c; text-align: center; margin-right: 10px;}
.Specifications .active{
    background:#2c8cd4;
    color: #fff;
    border:0;
}
.SpecTitle a{
    background: #fff;
    display: block;
    width: 120px;
    height: 26px;
    text-align: center;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border: 1px solid #0062ad;
    border-bottom: 0;
    color: #333;
    margin-left: 10px;
}

/*设计tab*/
body{font-family:"microsoft yahei"; margin:0px auto; }
		ul,ol{margin:0px; padding:0px;}
		ul,ol li{list-style:none;}
		.clearfix:before,.clearfix:after {content:"";display:table;clear:both;}
		.clearfix{zoom:1;}
		.Fleft{float: left;}
		.Fright{float:right;}
		.tabs{height:40px; line-height:40px; margin-top:10px;}	
		.tabList{border-bottom:solid 1px #ccc;}
		.tabList li{float:left; padding:0px 25px; margin-right:5px; margin-bottom:-1px; font-size:16px; background:#eff5fd; border:solid 1px #ccc; cursor:pointer;}
		.tabList li.current{ background:#fff; border:solid #ccc; border-width:2px 1px 0px; border-top-color:#0797d4; color:#0797d4; }