
.header{width:100%; background:#39628a;}
.header .logo{width:162px; height:60px; margin-top:15px; background:url("https://static.98ep.com/Img/BCustomer/subfileImg/header-logo.png") no-repeat;}
.header .service-msg{margin:42px 30px 0px 30px; font-size:14px; color:#fff;}
.header .user-list{ height:80px; line-height:80px; font-size:14px;}
.header .user-list li{float:left; }
.header .user-list li a{display:block; color:#fff; text-align:center;}
.header .user-list li.login{padding:0px 10px; font-size:18px;}
.header .user-list li.index{padding:15px 22px; background-color:#2a5783;}
.header .user-list li.index a{display:block; line-height:24px;}
.header .user-list em.index-icons{display:block; width:24px; height:25px; background:url(https://static.98ep.com/Img/BCustomer/subfileImg/index-icons.png) no-repeat;}
.header .user-list li.exit{padding:15px 22px;}
.header .user-list li.exit a{display:block; line-height:24px;}
.header .user-list em.exit-icons{display:block; width:24px; height:25px; background:url(https://static.98ep.com/Img/BCustomer/subfileImg/exit-icons.png) no-repeat;}

.ListNav{ height:76px;line-height:72px; font-size:16px; color:#fff;}
.ListNav li{float:left; padding:0px 20px; cursor:pointer;position:relative;}
.ListNav li em.iNew{display:inline-block;width:30px;height:17px;background:url(https://static.98ep.com/Img/BCustomer/subfileImg/new-icons.png) no-repeat;position:absolute;top:10px;right:0px;}
.ListNav li a{color:#fff;}
.ListNav li.iSelect{border-bottom:4px solid #00bfe9;}
.ListNav li.iSelect a{color:#00bfe9;}
.userInfor{height:32px; line-height:32px; padding-top:24px; font-size:16px; color:#fff; position:relative;}
.userInfor span{color:#fff;}
.userInfor a.pullDown{display:inline-block; width:24px; height:30px;margin-left:10px;cursor:pointer; background:url(https://static.98ep.com/Img/BCustomer/subfileImg/pulldown-icons.png) no-repeat;}
.userInfor a.exitBtn{ width:130px; height:32px; border:1px solid #ccc; text-align:center; background-color:#fff; font-size:14px; position:absolute; left:0px; top:56px;display:none;}		


.header .logo {
    width: 162px;
    height: 60px;
    margin-top: 10px;
    background: url(https://static.98ep.com/Img/BCustomer/subfileImg/header-logo-clear.png) no-repeat;
    background-size: cover;
}