* {
  margin: 0;
  padding:0;
  font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif;
}
input,textarea,select{
  outline:none
}  
a{
	text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
img{
	vertical-align: middle;
}
ul,li{
	list-style: none;
}
.fl{
    float:left;
}
.fr{
    float: right;
}
.cb{
  clear: both;
}
.clearfix{*zoom:1;}
.clearfix::after{ clear: both; display: block; content: ''; visibility: hidden;}

/*index start*/
.goods_top_title{
	margin:0px 0 0 0;
	font-size: 16px;
	line-height: 24px;
	background: url("https://static.98ep.com/Img/58/single/img_02.png") left center no-repeat;
	background-size: 15px auto;
	padding-left: 25px;
	font-weight: normal;
	color:#000;
}
.goods_tab_listType span.goods_tab_listA{
	display: inline-block;
	margin:0px 0 0 30px;
	font-size: 14px;
	line-height: 24px;
	background: url("https://static.98ep.com/Img/58/single/img_03b.png") left center no-repeat;
	background-size: 16px auto;
	padding-left: 25px;
	font-weight: normal;
	color:#727272;
	cursor: pointer;
}
.goods_tab_listType span.goods_tab_listB{
	display: inline-block;
	margin:0px 0 0 30px;
	font-size: 14px;
	line-height: 24px;
	background: url("https://static.98ep.com/Img/58/single/img_01b.png") left center no-repeat;
	background-size: 14px auto;
	padding-left: 25px;
	font-weight: normal;
	color:#727272;
	cursor: pointer;
}
.goods_tabA{
	padding:20px 10px;
	position: relative;
	margin-bottom: 70px;
}
.goods_one{
	margin-left: 10px;
}
.goods_one_select{
	width:180px;
	height: 30px;
	line-height: 30px;
	border:1px solid #e6e6e6;
	border-radius: 4px;
	font-size: 12px;
	color:#727272;
	margin-right: 5px;
}
.goods_one_select:hover{
	box-shadow: 1px 1px 3px #e6e6ec; 
}
a.goods_one_search{
	display: inline-block;
	margin-left: 15px;
	line-height: 30px;
	height: 30px;
	padding:0 25px;
	background:#2093e7;
	color:#fff; 
	font-size: 14px;
	border-radius: 5px;
}
a.goods_one_release{
	display: inline-block;
	margin-left: 15px;
	line-height: 30px;
	height: 30px;
	padding:0 25px;
	background:#fca001;
	color:#fff; 
	font-size: 14px;
	border-radius: 5px;
}
.goods_two{
	border:1px solid #e6e6e6;
	border-radius: 5px;
	margin-top: 20px;
	background: #fff;
}
.goods_two_cityL{
	margin-left:20px;
}
.goods_two_city_address{
	font-size: 16px;
	line-height: 18px;
	margin-left: 5px;
	display: inline-block;
}
.goods_city_input{
	display: inline-block;
	margin-top: 3px;
}
.goods_two_cityR{
	color:#32536c;
	font-size: 14px;
	line-height: 18px;
	margin-left: 20px;
}
.goods_two_city_money{
	display: inline-block;
	margin:0 5px;
}

.goods_two_request{
	margin:15px 20px 20px 20px;
	font-size: 15px;
	color:#8c8c8c;
	line-height: 16px;
}
.goods_two_orderNumber{
	color:#000;
	margin-right: 40px;
	display: inline-block;
}
.goods_two_city_btn{
	background: url("https://static.98ep.com/Img/58/single/img_04a.png") center center no-repeat;
	background-size: 15px;
	width:18px;
	height: 12px;
	line-height: 18px;
	display: inline-block;
	margin-right:20px;
}
.gshowImg{
	background: url("https://static.98ep.com/Img/58/single/img_04b.png") center center no-repeat;
	background-size: 15px;
}
.goods_two_tab{
	border-collapse:collapse;
	border-bottom:1px solid #e6e6e6;
}
.goods_two_tab td,.goods_two_tab th{
	border:1px solid #e6e6e6;
}
.goods_two_tab th{
	background: #f3f3f3;
    line-height: 24px;
    color: #000;
    padding: 10px 0;
    font-size: 14px;
    font-weight: normal;
}
.goods_two_tab img{
   width:75px;
}
.goods_top_help p{
    color:#35bfda;
    font-size:14px;
    line-height:14px;
    text-align:center;
}
.goods_top_help img{
    width:30px;
    display:none;
}
.aDetail_two_tab th{
	
    background:#f3f3f3;
	line-height: 24px;
	color:#000;
	padding:10px 0;
	font-size: 14px;
	font-weight: normal;
}
.goods_two_tab td{
	text-align: center;
}
.goods_two_tab td.goods_two_tdTwo{
	text-align: left;
	padding:15px 20px;
}
.goods_two_selectCheckbox{
	display: inline-block;
	margin-top:5px;
	margin-right:5px;
}
.goods_two_selectAll{
	width:60px;
	display: inline-block;
	position: absolute;
	left:0;
	text-align: left;
    color:#666;
}
.goods_td_center{
	position: relative;
	margin-left:25px;
}
.goods_two_tab tbody tr:hover{
	background: #fafafa;
}
.goods_two_order{
	display: inline-block;
}
.goods_two_tdTwo h3
{
    display:inline-block;
	font-size: 14px;
	color:#000;
	line-height: 24px;
	padding-bottom:5px;
	font-weight: normal;
}
.goods_two_tdTwo p{
	font-size: 14px;
	color:#808080;
	line-height: 24px;
	max-width:500px;
	word-wrap: break-word;
}
.goods_two_tdRemarks{
	padding-top: 10px;
	color:#717171;
}
.goods_two_tdRemarks span{
	color:#000;
	margin-right: 5px;
	display: inline-block;
}
.goods_two_tdthr{
	color:#737373;
}
.goods_two_tab td.goods_two_tdfour,.order_tab td.goods_two_tdfour{
   position:relative;
   color:#737373;
}
.goods_two_input{
	display: inline-block;
	margin:3px 5px 0;
}
.goods_two_applypeople{
	display: inline-block;
	margin-right:30px;
}
.goods_thr{
    position: fixed;
    bottom: 0;
    width: 1050px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.goods_thr_select{
	padding:25px 0 25px 25px;
	line-height: 18px;
	color:#727272;
	font-size: 14px;
}
.goods_thr_select span{
	display: inline-block;
	margin-right:15px;
	margin-left:5px;
}
.goods_thr_selectDel{
	color:#35bfda;
}
.goods_thr_totalA{
	padding:25px 0 25px 25px;
	line-height: 18px;
	color:#727272;
	font-size: 14px;
	display: inline-block;
}
.goods_thr_totalANumber{
	color:#e5360d;
}
.goods_thr_totalATitle,.goods_thr_totalAPrice{
	color:#ff0000;
}

.goods_thr_totalBtn{
	margin-left:30px;
	padding:24px 50px;
	background:#289bed;
	color:#fff;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
        cursor:pointer;
}
.goods_thr_totalBtnDisabled {
   background: #e4e4e4;
}
.goods_tab_listType  span.addColor.goods_tab_listA{
	color:#35bfda;
	background: url("https://static.98ep.com/Img/58/single/img_03a.png") left center no-repeat;
	border-bottom: 2px solid #35bfda;
}
.goods_tab_listType  span.addColor.goods_tab_listB{
	color:#35bfda;
	background: url("https://static.98ep.com/Img/58/single/img_01a.png") left center no-repeat;
	border-bottom: 2px solid #35bfda;
}
.goods_two_numberLength{
	color:#35bfda;
	font-size: 14px;
	margin-left:10px;
}
.goods_two_cityData{
	padding:20px 0;
	cursor: pointer;
}
/*.goods_two_cityData:hover{
	background: #f2faff;
}*/
.goods_two_requestPeople a{
	color:#35bfda;
}
.single_one{
	margin-bottom: 20px;
	color:#727272;
}
.single_two_tdone{
	line-height: 24px;
	font-size: 14px;
	color:#666;
	padding:10px 0;
}
.single_two_tdtwo{
	line-height: 18px;
	font-size: 14px;
	color:#35bfda;
	padding:10px 0;
	cursor: pointer;
}
.single_two_tdP a{
	color:#0091e6;
}
.single_two_tdP .single_two_toList{
	display: inline-block;
}
.single_two_tdP{
   text-align:center;
   margin-left:10px;
}
.single_two_toList,.single_two_look{
   margin:0 10px;
}
.single_one_input{
	line-height: 28px;
	height: 28px;
	width:180px;
	border:1px solid #e6e6e6;
	margin-right: 5px;
	padding-left: 10px;
}
.single_one_input:hover{
	box-shadow: 1px 1px 3px #e6e6ec;
}
.single_width140{width:140px;}
/*.goods_two_allRequest{
	max-height: 1400px;
	overflow: auto;
}*/
/*index end*/

/*审批详情 start*/
.unApproval{position:absolute; left:4px; top:2px; width:66px;height:39px; background:url(https://static.98ep.com/Img/58/unApproval_icon.png) no-repeat;}
.aDetail_bg{
	background: #f4f4f4;
}
.aDetail_head{
	position: fixed;
    left: 0px;
    top: 0px;
    width: 96%;
	padding: 12px 2%;
    background: #007ab0;    
}
.aDetail_head span{
	color:#fff;
	line-height: 36px;
	font-size: 16px;
}
.aDetail_head a{
	line-height: 36px;
	background: #01bee8;
	border-radius: 5px;
	color:#fff;
	padding:0 30px;
	display: inline-block;
        cursor:pointer;
        margin-left:20px;
}
.aDetail_one{
	margin:20px 40px 20px;
	color:#32536c;
	line-height: 24px;
}
.aDetail_one a{
	display: inline-block;
	color:#fff;
	background: #01bee8;
	margin-right:30px;
	line-height: 36px;
	padding:0 30px;
	border-radius: 5px;
}
.aDetail_imgRemark{
	height:18px;
}
.goods_tab_listType span.aDetail_tab_listA{
	display: inline-block;
    margin: 20px 0 0 0;
    font-size: 14px;
    line-height: 24px;
    background: url(https://static.98ep.com/Img/58/single/img_06a.png) left center no-repeat;
    background-size: 16px auto;
    padding-left: 25px;
    font-weight: normal;
    color: #727272;
    cursor: pointer;
}
.goods_tab_listType span.addColor.aDetail_tab_listA {
    color: #35bfda;
    background: url(https://static.98ep.com/Img/58/single/img_06b.png) left center no-repeat;
    border-bottom: 2px solid #35bfda;
}
.goods_tab_listType span.aDetail_tab_listB{
	display: inline-block;
    margin: 20px 0 0 30px;
    font-size: 14px;
    line-height: 24px;
    background: url(https://static.98ep.com/Img/58/single/img_07a.png) left center no-repeat;
    background-size: 16px auto;
    padding-left: 25px;
    font-weight: normal;
    color: #727272;
    cursor: pointer;
}
.goods_tab_listType span.addColor.aDetail_tab_listB {
    color: #35bfda;
    background: url(https://static.98ep.com/Img/58/single/img_07b.png) left center no-repeat;
    border-bottom: 2px solid #35bfda;
}
.goods_tab_listType span.aDetail_tab_listC{
	display: inline-block;
    margin: 20px 0 0 30px;
    font-size: 14px;
    line-height: 24px;
    background: url(https://static.98ep.com/Img/58/single/img_08a.png) left center no-repeat;
    background-size: 16px auto;
    padding-left: 25px;
    font-weight: normal;
    color: #727272;
    cursor: pointer;
}
.goods_tab_listType span.addColor.aDetail_tab_listC {
    color: #35bfda;
    background: url(https://static.98ep.com/Img/58/single/img_08b.png) left center no-repeat;
    border-bottom: 2px solid #35bfda;
}
.goods_help_box {
    margin:10px 30px 20px;
}
.aDetail_tab_listType{
	margin: 60px 50px 0px;
}
.aDetail_two{
	margin:0 40px 20px;
}
.aDetail_two_tdone{
	color:#737373;
}
.aDetail_two_tdtwo a{
	color:#35bfda;
}
.aDetail_two_tdthr a{
	color:#35bfda;
	text-decoration:underline;
}
.aDetail_two_allRequest{
	padding:0 20px;
}
.aDetail_two_request{
	margin:15px 0 20px;
}
.empty_oneTitle{
	font-size: 24px;
	display: inline-block;
	background:url("https://static.98ep.com/Img/58/single/img_10.png") left center no-repeat;
	padding:15px 0 15px 70px;
	color:#737373;
}
.empty_one{
	text-align: center;
	padding-top: 150px;
}

/*审批详情 end*/

/*help start*/

.help_two_tab{
	border-collapse:collapse;
	border-bottom:0;
}
.help_two_tab th{
	color:#333;
	text-align:center;
	font-weight: normal;
	line-height: 16px;
	padding:5px 0;
	border-bottom:4px solid #e6e6e6;
	font-size: 12px;
}
.help_two_tab td{
	text-align:center;
	line-height: 16px;
	padding:5px 0;
	color:#333;
	border-bottom:1px solid #e6e6e6;
	font-size: 12px;
}
.help_one{
	margin:0 0 20px 40px;
    color: #727272;
}
.help_two_tabTime span{
	display: block;
	line-height: 24px;
}
.help_two{
	padding:20px 20px 0;
}
/*help end*/


















/*弹框 start*/
.t_bg{
	position: fixed;
	top:0;
	left:0;
	background: rgba(0,0,0,0.3);
	width:100%;
	height: 100%;
        z-index:1002;
}
.t_box{
	position: absolute;
	width:440px;
	height: 270px;
	background: #fff;
	border-radius: 5px;
	left:50%;
	top:50%;
	margin-left:-220px;
	margin-top:-135px;
}
.single_box{
	height:220px;
}
.t_one{
	line-height: 180px;
	text-align: center;
	font-size: 18px;
	color:#666;
}
.t_two{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	text-align: center;

}
.t_two a{
	width:150px;
	height: 42px;
	display: inline-block;
	line-height: 39px;
	background: #fff;
	margin:0 10px 20px;
	border-radius:5px;
}
.t_two .t_two_sure{
	background: #35bfda;
	color:#fff;
	border:1px solid #35bfda;
}
.t_two .t_two_cancel{
	background: #fff;
	color:#666;
	border:1px solid #999;
}
.t_thr{
	line-height: 30px;
    text-align: center;
    font-size: 18px;
    padding: 66px 50px 0;
    color: #666;
}
.g_thrBox{
	line-height: 24px;
    text-align: left;
    font-size: 18px;
    margin: 40px 40px 0;
    padding:0;
    color: #666;
    position: relative;
}
.g_thrBox h3{
	font-weight: normal;
	font-size: 16px;
	margin-bottom: 10px;
}
.g_thrBox textarea{
	display: inline-block;
	width:100%;
	height: 100px;
	padding:5px;
	resize: none;
}
.t_close{
	position: absolute;
    right: 14px;
    top: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 30px;
    color: #999;
    cursor: pointer;
}
.t_content_number{
	position: absolute;
	bottom:5px;
	right:5px;
	color:#999;
	font-size: 14px;
}




/*弹框 end*/



/*order start*/
.order_one_head{
	background: #f4f7f8;
	padding:10px 15px;
	border: 1px solid #dee6ea;
}
.order_one_headTitle{
	font-size: 16px;
    line-height: 24px;
    background: url(https://static.98ep.com/Img/58/single/img_02.png) left center no-repeat;
    background-size: 15px auto;
    padding-left: 25px;
    font-weight: normal;
    color: #000;
}
.order_zoom{
	display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://static.98ep.com/Img/BCustomer/subfileImg/zoom.png) no-repeat;
    position: absolute;
    left: 0px;
    top: 6px;
}
.order_one_headInput{
	width: 200px;
    height: 20px;
    line-height: 20px;
    padding: 3px 22px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background: transparent;
}
.order_position{
	position: relative;
    margin:15px 20px 0;
}
.order_two{
	margin-top: 17px;
	overflow-x: hidden;
}
.order_tab{
	width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}
.order_tab thead tr{
	height: 40px;
    color: #333;
    background-color: #f2f2f2;
}
.order_tab tr {
    border: 1px solid #ccc;
}
.order_boldStyle{
	line-height: 24px;
	color:#333;
	font-size: 12px;
	font-weight: bold;
}
a.order_details,a.order_back{
	color:#0033cc;
	line-height: 24px;
	font-size: 12px;
	display:inline-block;
	margin-left:20px;
}
.order_goods_td{
	position: absolute;
	left:5px;
	top:15px;
	width: 80px;
    height: 80px;
    padding: 4px;
    text-align: center;
    border: solid 1px #ddd;
}
.order_goods_td img{
	width:100%;
}
.order_message {
	position: relative;
}
.order_message_height{
	min-height: 120px;
}
.order_message h3{
	font-size: 12px;
	color:#333;
	line-height: 18px;text-align:left;
   
}
.order_message p{
	font-size: 12px;
	color:#666;
	line-height: 18px;
        text-align:left;
    margin-bottom:10px;
}
.order_tab td{
	font-size: 12px;
}
.order_goods_content{
	margin-top: 15px;
	margin-left:110px;
        text-align:center;
}
.order_center{
	text-align: center;
}
.order_left{
	text-align: left;
}
.order_center a{
    color:#0033cc;
}
.order_tr_bg{
	height: 40px;
    color: #333;
    background-color: #f2f2f2;
}
/*order end*/


/*help start*/
.t_bg_help{
	position: fixed;
	top:0;
	left:0;
	background: rgba(0,0,0,0.3);
	width:100%;
	height: 100%;
        z-index:1002;
}
.t_box_help{
	position: absolute;
    width: 780px;
    height: 700px;
    background: #fff;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    margin-left: -385px;
    margin-top: -350px;
}
.t_one_help{
	line-height: 180px;
	text-align: center;
	font-size: 18px;
	color:#666;
}
.t_two_help{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	text-align: center;

}
.t_two_help a{
	width:150px;
	height: 42px;
	display: inline-block;
	line-height: 39px;
	background: #fff;
	margin:0 10px 20px;
	border-radius:5px;
}
.t_two_help .t_two_sure_help{
	background: #35bfda;
	color:#fff;
	border:1px solid #35bfda;
}
.t_two_help .t_two_cancel_help{
	background: #fff;
	color:#666;
	border:1px solid #999;
}
.t_thr_help{
	line-height: 30px;
    text-align: center;
    font-size: 18px;
    padding: 66px 50px 0;
    color: #666;
}
.t_thr_helppadding{
	padding:40px 10px 0;
}
.t_close_help{
	position: absolute;
    right: 14px;
    top: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 30px;
    color: #999;
    cursor: pointer;
}
.t_content_number_help{
	position: absolute;
	bottom:5px;
	right:5px;
	color:#999;
	font-size: 14px;
}
.help_click{
	cursor: pointer;
}
.help_two_tab .help_align_left{
	text-align:left;
	padding:0 10px;
}
.help_allchecked_click{
	margin-top:3px;
	margin-right:5px;
}
.help_two_tab .help_align_center{
	text-align: center;
	padding:0 20px;
}
.help_thr{
	font-size: 12px;
	line-height: 24px;
	color:#b2b2b2;
	padding:5px 0;
}
.help_thr_pagebox span{
	margin:0 8px;
	display: inline-block;
}
.help_height{
	
}
.help_two_tab tbody tr:hover{
	background: #fafafa;
}
.help_thr_pagebox .help_page_active{
	width: 18px;
    height: 17px;
    text-align: center;
    line-height: 16px;
    margin:0 3px;
}
.help_page_on{
	background: #36c0da;
    color: #fff;    
}
.help_thr_title{
	color:#f30a1d;
}
.number_fixed_bg{
   position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    z-index: 1002;
}
/*help end*/




.ProcessCont{
   width:1200px;
}
.Approval{
     width:auto;
    margin-bottom: 10px;
    font-weight:bold;
    line-height:24px;

}
.Approval .active{
   color:#333;
}


.three_muti .dot2{
   top: 8px;
    left: -13px;
}
.number_tab{
   border-collapse:collapse;
}
.number_bg{
   padding:25px 20px;
}
.number_tab td{
   border:none;
font-size:12px;
line-height:18px;
color:#727272;
}
.number_tab_padding{
   margin:30px 30px;

}
.goods_two_tab  .goods_single_img_a{
   display:inline-block;
   background:url("https://static.98ep.com/Img/58/single/single_02.png") center center no-repeat;
   background-size:18px;
    width: 18px;
    height: 18px;
    cursor:pointer;
   position:absolute;
   top:50%;
   right:33px;
   margin-top:-9px;
}
.goods_two_tab  .goods_single_img_b,.order_tab  .goods_single_img_b{
   display:inline-block;
   background:url("https://static.98ep.com/Img/58/single/single_01.png") center center no-repeat;
   background-size:18px;
    width: 18px;
    height: 18px;
    cursor:pointer;
   position:absolute;
   top:50%;
   right:10px;
   margin-top:-9px;
}
 
.goods_single_img_c{
   font-size:12px;
   color:#333;
}
.number_tab{
   width:100%;
}
.number_tab td{
  padding-bottom:20px; 
  vertical-align:top;
}
.number_tab td input{
   display:inline-block;
   width:100%;
padding:5px;
}
.number_tab td textarea{
   min-height: 80px;
    padding: 5px;
    resize: none;
    width: 100%;
    display: inline-block;
}
/* time start */
.time_box{
   background:url("https://static.98ep.com/Img/58/single/time_01.png") 135px top repeat-y;
}
.time_one_l{
   width:140px;
   position:relative;
}
.time_one_l p{
   text-align:right;
   padding-right:20px;
   color:#666;
   line-height:24px;
   font-size:14px;
}
.time_one_circle{
   position:absolute;
   right:-5px;
   top:10px;
}
.time_one_r{
   background:#f3f3f3;
   padding:10px 15px;
   margin-left:15px;
   width:338px;
}
.time_one_r p{
   line-height:24px;
   padding-bottom:5px;
   color:#666;
   font-size:14px;
}
.time_one_r p span{
   color:#000;
}
.time_one{
   padding:10px 0;
}
/* time end */



.ghide{
	display: none;
}
.gshow{
	display:block;
}
.gshowIn{
	display:inline-block;
}
.download_btn
{
    display:inline-block; 
     padding:2px 10px; 
     height:20px; 
     line-height:20px; 
     background:#f5f5f5; 
     border:1px solid #ddd; 
     color:#333;
	-webkit-border-radius:2px;
	 -moz-border-radius:2px; 
	 border-radius:2px; 
	 text-align:center; 
	 margin:5px;
}




 .layui-layer-btn
    {
        text-align: center;
    }
    
    .layui-btn:hover
    {
        opacity: .8;
        filter: alpha(opacity=80);
        color: #fff;
    }
    .layui-btn-sm
    {
        padding: 0 10px;
        font-size: 12px;
    }
    .layui-btn-primary
    {
        background-color: #fff;
        color: #555;
    }
    .layui-btn
    {
        display: inline-block;
        padding: 0 18px;
        background-color: #e7e7e7;
        color: #fff;
        white-space: nowrap;
        text-align: center;
        font-size: 14px;
        border: none;
        border-radius: 2px;
        cursor: pointer;
    }
    .layui-btn, .layui-input, .layui-select, .layui-textarea, .layui-upload-button
    {
        outline: 0;
        -webkit-appearance: none;
        box-sizing: border-box;
    }
    .layui-btn, .layui-disabled, .layui-icon, .layui-unselect
    {
        -webkit-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
    }
    .layui-btn, .layui-edge, .layui-inline, img
    {
        vertical-align: middle;
    }
    .layui-btn + .layui-btn
    {
        margin-left: 10px;
    }
    .layui-btn-sm
    {
        padding: 0 10px;
        font-size: 12px;
    }
    .layui-btn-primary
    {
        background-color: #fff;
        color: #555;
    }
    .layui-btn-primary:hover
    {
        background-color: #e7e7e7;
        color: #333;
    }
    .layui-layer-btn a
    {
        height: 24px;
        line-height: 24px;
    }
.app_wrap{background:#f2f2f2;}
.app_caption{background:#fff}
.app_tab thead th{background:#fff}
.app_tab tbody {background:#f5faff;}
.app_tab tbody tr:hover{background: #f5faff;}
.app_tab tbody td, .app_tab thead th{border:none;}
.app_tab thead tr,.app_tab tbody tr{border:1px solid #d3d3d3;}
.WaitSend a.button_orange{color:#fff;}
.app_tab tbody td.spdataerror h3,.app_tab tbody td.spdataerror,.app_tab tbody td.spdataerror p,.spdataerror span{font-weight:600; color:#ff0000;}
.aDetail_one a.dload_app_lk{
    background: transparent;
    color: #01bee8;
    text-decoration: underline;
 }


































